  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
html{
    scroll-behavior: smooth;
}

    
    body {
      font-family: Arial, sans-serif;
    }


    
/* contact form */
.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: solid 3px #023047;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 12px;
  background-color:#1F2937;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ccd5ae;
}

